<!--html code for website goes here-->
<!DOCTYPE html>
	<head>
		<style>
		body {
        		background-image: linear-gradient(to right, rgba(222, 222, 222,1), rgba(122, 122, 122, 1));
        		background-size: auto;
		}
		#welcomebox {
                        background-color: RGB(138, 113, 88);
                        box-shadow: 2px 4px;
                        height: 25%;
			width: 25%;
                }
		</style>
		<title>Raspberry Pi Security</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	</head>
	<body>
		<center>
			<div id="welcomebox">
			<h1>Security Test Page Please Ignore</h1>
			<p>By Jared, Josh, and Haley</p>
			<h2>Login to Deactivate</h2>
			<button onClick="window.location.href='{{ url_for( 'login') }}';"> Login to Disarm</button>
			<br>
			<br>
			</div>
		</center>

		<script type='text/javascript'>
			function button() {
				$.ajax({ type:'get', url:'/button', cache:false, async:'asynchronus'});
			}
		</script>
	</body>
</html>
